<!-- <div class="container-fluid my-5">
    <div class="row">
      <div class="col-6">
        <h5>Поиск по имени и фамилии</h5>
         <input type="text" class="form-control" placeholder="Поиск">  [(ngModel)]="searchStr" (input)="onSearchWorker()"
      </div>
      <div class="col-6">
        <h5>Сортировка</h5>
        <select class="custom-select btn-sm"  id="departament">     [(ngModel)]="typeOfSort"
          <option selected>Сортировка по id (по возрастанию)</option>
          <option>Сортировка по id (по убыванию)</option>
          <option>Сортировка по возрасту (по возрастанию)</option>
          <option>Сортировка по возрасту (по убыванию)</option>
        </select>
      </div>
    </div>
  </div> -->
  
  <div class="container-fluid">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Название</th>
          <th scope="col">Категория</th>
          <th scope="col">Вес</th>
          <th scope="col">Цена(руб.)</th>
          <th scope="col">Количество на складе</th>
          <th class="text-right" scope="col">
             <button class="btn btn-primary" (click)="onAddProduct()">  
              Добавить товар
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
         <tr *ngFor="let product of products ">   <!-- | myfilter : searchStr : typeOfSort -->
          <td scope="row">{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.weight }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.count }}</td>
          <!-- <td>{{ getAge(user.bday) }}</td> -->
          <td class="text-right">
            <button class="btn btn-primary" (click)="onLinkProduct(product.id)">
              Редактировать
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
